.volume-slider {
    width: 0;
    opacity: 0;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.volume-control-container:hover .volume-slider {
    width: 100%;
    /* Adjust based on the desired width when visible */
    opacity: 1;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}